html,body{
    background: #fff;
}

*{
    margin: 0;
}


.slider{
    width: 450px;
    height: 450px;
    border: 15px solid #ffff;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden;  */      /* прячет след и пред картинки */
    margin-top: 2rem;
}
.slider-line{
    position: relative;
    display: flex;
}

.slider img{
    max-width: 450px;
    width: 100%;    
}

.prev-button, .next-button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 6px solid #fff;
    background: #000;
    color: #fff;
    position: absolute;
    margin-top: 50%;
    z-index: 1000;
    left: 14px;
    font-size: 2rem;
    line-height: 2rem;
    box-shadow: 3px 3px 3px #000;
}

.next-button{
    left: 386px;
}
.prev-button:active, .next-button:active{
    background: #f00;
}